<?xml version="1.0"?>

<robot name="diff_drive" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:include filename="$(find diff_drive_description)/urdf/mechanical.xacro"/>
    <xacro:include filename="$(find diff_drive_description)/urdf/gazebo.xacro"/>

    <xacro:gazebo
    wheel_l_ln="left_wheel"
    wheel_r_ln="right_wheel"
    lidar_ln="rplidar"
    camera_ln_n="camera"
    camera_name="camera"
    imu_ln_n="imu"
    />
    <xacro:mechanical
    base_ln_xyz="0 0 0"
    base_ln_rpy="0 0 0"
    base_ln_mass="2.5"
    wheel_l_ln="left_wheel"
    wheel_r_ln="right_wheel"
    wheel_l_xyz="-0.1 0.145 0.04"
    wheel_r_xyz="-0.1 -0.145 0.04"
    wheel_l_rpy="0 0 0" 
    wheel_r_rpy="0 0 0"
    wheel_mass="0.2"
    wheel_rad="0.04"
    caster_ln="caster" 
    caster_xyz="0.156 0 0.034"
    caster_rpy="0 0 0"
    caster_mass="0.4"
    lidar_ln="rplidar"
    lidar_xyz="0.16 0 0.155"
    lidar_rpy="0 0 0"
    lidar_mass="0.1"
    camera_ln="camera"
    camera_xyz="0.205 -0.0005 0.105"
    camera_rpy="0 0 0"
    camera_mass="0.1"
    imu_ln="imu"
    imu_xyz="-0.05 0 0.07"
    imu_rpy="0 0 0"
    imu_mass="0.01"
    />

</robot>
