<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <link name='chasis'>

		<collision> 
			<origin xyz="0 0 0" 
					rpy="0 0 0"/> 
			<geometry> 
				<mesh filename="package://diff_drive_description/meshes/main.STL" />
			</geometry> 
		</collision>

		<visual> 
			<origin xyz="0 0 0" 
					rpy="0 0 0"/> 
			<geometry>  
				<mesh filename="package://diff_drive_description/meshes/main.STL" />
			</geometry> 
			<material name="Black"/>
		</visual>

	</link>
  <joint name="chasis_joint" type="fixed">
		<parent link="base_link"/>
		<child link="chasis"/>
	</joint>

</robot>